services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - .:/home/node/app
    environment:
      - CHOKIDAR_USEPOLLING=true
